# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

virtualenv/
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Data files
*.xlsx
*.csv

# OS files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Documents that are used to scrape
docs/*
!docs/.gitkeep